mat-toolbar {
    justify-content: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color: navy;
    text-decoration: underline
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.card-content {
    width: 21.7em;
    box-sizing: border-box;
    margin: 2.7em;
}

.permissions-button {
    position: fixed;
    bottom: 1.25em;
    left: 0.5em;
    color: white;
}

.add-button {
    position: fixed;
    bottom: 1.25em;
    right: 1.5em;
    color: white;
}

.message {
    max-width: 100%;
    text-align: center;
    margin-top: 1.5em;
    margin-left: 0.2em;
    color: #428bca;
}

.space {
    margin-bottom: 10em;
}

.spinner-container {
    align-items: center;
    margin-bottom: 25em;
}

.spinner-content {
    width: 800px;
    margin: 10px auto;
}
