<mat-card *ngIf="loaded">
    <mat-toolbar color="warn" class="mat-elevation-z1">
        <h1>{{ cartelera.title }}</h1>
    </mat-toolbar>
    <div class="card-container">
        <!-- Aca se van generando los posts de la cartelera seleccionada -->
        <mat-card class="card-content" *ngFor="let post of posts">
            <mat-card-header>
                <mat-card-title>
                    <a [routerLink]="['/cartelera', cartelera.id, 'post', post.id]">{{ post.title }}</a>
                </mat-card-title>
                <mat-card-subtitle>{{ post.created_at }}</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image src="{{ post.image }}" width="250px" height="250px">

            <mat-card-content>
                {{ post.description }}
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="primary" [routerLink]="['/cartelera', cartelera.id, 'edit-post', post.id]" *ngIf="localStorageService.getToken() && (userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities()) || (userService.hasAuthority('PROFESOR', this.localStorageService.getAuthorities()) && isMyPost(post)) )">Editar</button>
                <button mat-button color="primary" (click)="eliminarPost(post)" *ngIf="localStorageService.getToken() && (userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities()) || (userService.hasAuthority('PROFESOR', this.localStorageService.getAuthorities()) && isMyPost(post)) )">Eliminar</button>
            </mat-card-actions>
        </mat-card>

        <span class="permissions-button">
            <button mat-fab [routerLink]="['/administrar-permisos', cartelera.id]" *ngIf="localStorageService.getToken() && userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities())">
                <mat-icon>lock</mat-icon>
            </button>
        </span>

        <span class="add-button">
            <button mat-fab [routerLink]="['/cartelera', cartelera.id, 'create-post']" *ngIf="localStorageService.getToken() && (userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities()) || (userService.hasAuthority('PROFESOR', this.localStorageService.getAuthorities()) && hasPermissions()) )">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </div>

    <div *ngIf="loaded && posts.length == 0">
        <h1 class="message">No hay publicaciones para mostrar</h1>
    </div>

</mat-card>

<div *ngIf="loaded && posts.length == 0" class="space"></div>

<div class="spinner-container" *ngIf="!loaded">
    <mat-spinner class="spinner-content"></mat-spinner>
</div>
