<div class="card-container" *ngIf="carteleras">
    <mat-card class="card-content" *ngFor="let cartelera of carteleras">

        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/cartelera', cartelera.id]">{{ cartelera.title }}</a>
            </mat-card-title>
            <mat-card-subtitle>{{ cartelera.created_at }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{ cartelera.image }}" width="250px" height="250px">

        <mat-card-content>
            {{ cartelera.description }}
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" [ngClass]="{ 'activeButton': likeada(cartelera) }" (click)="likeAction(cartelera)" *ngIf="localStorageService.getToken()">Like</button>
            <button mat-button color="primary" [routerLink]="['/edit-cartelera', cartelera.id]" *ngIf="localStorageService.getToken() && userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities())">Editar</button>
            <button mat-button color="primary" (click)="eliminarCartelera(cartelera)" *ngIf="localStorageService.getToken() && userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities())">Eliminar</button>
        </mat-card-actions>

    </mat-card>

    <span class="add-button">
        <button mat-fab [routerLink]="['/create-cartelera']">
            <mat-icon>add</mat-icon>
        </button>
    </span>
</div>

<div class="spinner-container" *ngIf="!carteleras">
    <mat-spinner class="spinner-content"></mat-spinner>
</div>
