<mat-dialog-content>
	<h3>Lista de seguidores</h3>
	<mat-divider></mat-divider>
	<mat-list *ngIf="seguidores">
		<mat-list-item *ngFor="let seguidor of seguidores">
			<img mat-line mat-card-avatar class="profile-img" src="{{ seguidor.photo }}">
			<a [routerLink]="['/user', seguidor.id]" (click)="closeMatDialog()">
				{{ seguidor.name }} {{ seguidor.lastname }}
			</a>
			<mat-divider></mat-divider>
		</mat-list-item>
	</mat-list>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button #buttonClose mat-button color="primary" [mat-dialog-close]="true">Cerrar</button>
</mat-dialog-actions>
