<div [ngClass]="{ 'post-container': comentarios.length > 0 ? true : false }" *ngIf="loaded">
    <!-- Publicacion -->
    <mat-card>
        <mat-toolbar color="warn" class="mat-elevation-z1">
            <h1>{{ cartelera.title }}</h1>
        </mat-toolbar>
        <div class="card-container">
            <mat-card class="card-content">
                <mat-card-header>
                    <img mat-line mat-card-avatar src="/assets/profile.png">
                    <mat-card-title>{{ post.title }}</mat-card-title>
                    <mat-card-subtitle>{{ post.created_at }}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src="{{ post.image }}">

                <mat-card-content>
                    <p class="description">{{ post.description }}</p>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-button color="primary" [routerLink]="['/cartelera', cartelera.id, 'edit-post', post.id]" *ngIf="localStorageService.getToken() && (userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities()) || userService.hasAuthority('PROFESOR', this.localStorageService.getAuthorities()))">Editar</button>
                    <button mat-button color="primary" (click)="eliminarPost(post)" *ngIf="localStorageService.getToken() && (userService.hasAuthority('ADMIN', this.localStorageService.getAuthorities()) || userService.hasAuthority('PROFESOR', this.localStorageService.getAuthorities()))">Eliminar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>

    <!-- Caja de comentarios -->
    <mat-card *ngIf="localStorageService.getToken() && post.comments_enabled">
        <form [formGroup]="commentForm" (ngSubmit)="comentar()" class="comment-form" autocomplete="off">
            <mat-form-field class="comment-textarea">
                <mat-label>Escribe un comentario...</mat-label>
                <textarea matInput formControlName="comment" (keypress)="onKeypress($event)"
                cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <div *ngIf="submitted && form.comment.errors">
                <mat-error *ngIf="form.comment.errors.minlength">El comentario debe tener al menos 1 caracter</mat-error>
                <mat-error *ngIf="form.comment.errors.maxlength">El comentario debe tener a lo sumo 1000 caracteres</mat-error>
            </div>
            <button mat-raised-button type="submit" class="comment-button" color="primary">Enviar</button>
            <button #clearButton mat-raised-button type="reset" class="clear-button">Limpiar</button>
        </form>
    </mat-card>

    <!-- Comentarios -->
    <div class="comment-card-container">
        <mat-card class="comment-card" *ngFor="let comentario of comentarios">
            <mat-card-header>
                <img mat-line mat-card-avatar src="/assets/profile.png">
                <mat-card-title *ngIf="usersForComments[comentario.id] != undefined">
                    {{ usersForComments[comentario.id].name }} {{ usersForComments[comentario.id].lastname }}
                </mat-card-title>
                <mat-card-subtitle>{{ comentario.created_at }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                {{ comentario.comment }}
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="primary" (click)="eliminarComentario(comentario)" *ngIf="localStorageService.getToken() && isMyComment(comentario)">Eliminar</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>

<div class="spinner-container" *ngIf="!loaded">
    <mat-spinner class="spinner-content"></mat-spinner>
</div>
