mat-toolbar {
    justify-content: center;
}

mat-card-actions {
    text-align: center;
}

.post-container {
    background-color: white;
    padding-bottom: 2em;
}

.description {
    text-align: center;
    font-size: 2em;
}

.spinner-container {
    align-items: center;
    margin-bottom: 25em;
    /*margin-bottom: 17.5em;*/
}

.spinner-content {
    width: 800px;
    margin: 10px auto;
}

.comment-form {
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px 3px grey;
    width: 500px;
}

.comment-textarea {
    margin-top: 1em;
    width: 400px !important;
}

.comment-button {
    margin-left: 1em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.clear-button {
    margin-left: 0.5em;
    margin-bottom: 1em;
}

.comment-card-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.comment-card {
    width: 40%;
    box-sizing: border-box;
    margin-top: 1.5em;
    margin-left: 30%;
    margin-right: 30%;
}
