mat-toolbar {
    justify-content: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color: navy;
    text-decoration: underline
}

.mat-toolbar-position {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 30%;
    margin-right: 30%;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.card-content {
    width: 22em;
    box-sizing: border-box;
    margin: 3em;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 24px;
    color: white;
}

.message {
    max-width: 50%;
    margin: auto;
    text-align: center;
    color: #428bca;
}

.space {
    margin-bottom: 10.3em;
}

.spinner-container {
    align-items: center;
    margin-bottom: 25em;
}

.spinner-content {
    width: 800px;
    margin: 10px auto;
}
